.main {
    background-color: #1a202c;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    height: 100vb;
    font-size: 1.2rem;
    line-height: 1.5;
    display: block;
    min-width: 320px;
    color: #fff;
    padding-left: 13rem;
    overflow-y: scroll;
    overflow-x: hidden;
}


.main-menu{
    width: 13rem;
    background-color: #15181d;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    right: auto;
    bottom: 0;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.menu-btn{
    display: none;
}

.menu-top{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-nav ul{
    list-style: none;
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.menu-nav ul li{
    height: 40px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.menu-nav ul a{
    display: block;
    text-decoration: none;
    text-align: center;
    color: #ffffff;
    width: 100%;
    height: 100%;
}

.menu-nav ul a:hover{
    background-color: #1c2431;
}

.menu-nav ul a.active{
    background-color: #1a202c;
}

.socials {
    margin-bottom: 5rem;
}

.socials a{
    margin-right: 15px;
    color: white;
}

.content{
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
}

.aboutMe{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 6rem 17rem 6rem 3rem;
}
.aboutMe .text{
    width: 40%;
}

.aboutMe img{
    border-radius: 50%;
    margin-right: 6rem;
}

.projectList {
    width: 100%;
    position: relative;
    padding: 3rem 17rem 3rem 3rem;
}

.projectList .header{
    width: 100%;
}
.search-container{
    display: flex;
}
.search-container input{
    width: 100%;
    background-color: #15181d;
    border: none;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    color: #ffffff;
    padding-left: 10px;
}
.search-container button{
    background-color: #15181d;
    border: none;
    border-radius: 0%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.list{
    margin-top: 3rem;

}
.list{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
}
.list .list-item{
    background-color: #15181d;
    border-radius: 15px;
    padding: 1rem;
    align-items: center;
    text-align: center; 
    position: relative;
    
}
.list .list-item a{
    text-decoration: none;
    color: #ffffff;
}
.list .list-item img{
    object-fit: cover;
}
.list .list-item p{
    margin: 0;
}

.list .list-item:hover .project-btn{
    opacity: 1;
}
.list .list-item:hover .project-info{
    opacity: 0.5;
}
.project-info{
    background-color: #1c2431;
    position: absolute;
    border-radius: 15px;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.4s, z-index 0s 0.7s;
}
.project-btn{
    background-color: #1c2431;
    color: #ffffff;
    text-align: center;
    border: none;
    width: 50%;
    height: 50%;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.4s, z-index 0s 0.7s;
}

.project-modal .modal-content{
    background-color: #15181d;
}

.project-modal .modal-content hr{
    color: #15181d;
}

.modal-body{
    text-align: left;
}

.blogList {
    width: 100%;
    position: relative;
    padding: 3rem 17rem 3rem 3rem;
}

.blogList .header{
    width: 100%;
}

.blogPage {
    width: 100%;
    position: relative;
    padding: 3rem 17rem 3rem 3rem;
}

.blogPage img{
    object-fit: cover;
}

.skills-exp{
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 6rem 17rem 6rem 3rem;
    width: 100vw;
}

.skills-exp .text{
    width: 40%;
}

.aboutMe .skills{

    margin-right: 6rem;
}

@media screen and (max-width: 1300px){
    .main{
        padding-left: 0;
    }
    .menu-btn {
        position: fixed;
        top: 10px;
        right: 10px;
        width: 4rem;
        height: 4rem;
        z-index: 100;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #15181d;
        text-decoration: none;
        color: white;
        font-size: 3rem;
    }
    .main-menu{
        align-items: center;
        position: fixed;
        z-index: -5;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        opacity: 0;
        transition: opacity 0.4s, z-index 0s 0.7s;
    }
    .mobileopen .main-menu {
        transition: visibility 0s, z-index 0s 0s;
        z-index: 99;
        opacity: 1;
    }
    .mobileopen .open{
        display: none;
    }
    .content{
        left: 0;
        width: 100vw;
        display: block;

    }
    .aboutMe{
        display: block;
        padding: 6rem 3rem;
    }
    .aboutMe .text{
        width: 100%;
    }
    .aboutMe img{
        margin-top: 3rem;
        position: static;
        width: 100%;
        height: auto;
        max-width: 500px;
        max-height: 500px;
    }
    .projectList {
        padding: 6rem 3rem;
    }
}

@media screen and (max-width: 700px){
    .list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }
}